In [11]:
import pandas as pd

In [6]:
df = pd.read_csv("heart_statlog_cleveland_hungary_final.csv")
df.head()

,age,sex,chest pain type,resting bp s,cholesterol,fasting blood sugar,resting ecg,max heart rate,exercise angina,oldpeak,ST slope,target
0,40,1,2,140,289,0,0,172,0,0.0,1,0
1,49,0,3,160,180,0,0,156,0,1.0,2,1
2,37,1,2,130,283,0,1,98,0,0.0,1,0
3,48,0,4,138,214,0,0,108,1,1.5,2,1
4,54,1,3,150,195,0,0,122,0,0.0,1,0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1190 entries, 0 to 1189
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   age                  1190 non-null   int64
 1   sex                  1190 non-null   int64
 2   chest pain type      1190 non-null   int64
 3   resting bp s         1190 non-null   int64
 4   cholesterol          1190 non-null   int64
 5   fasting blood sugar  1190 non-null   int64
 6   resting ecg          1190 non-null   int64
 7   max heart rate       1190 non-null   int64
 8   exercise angina      1190 non-null   int64
 9   oldpeak              1190 non-null   float64
 10  ST slope             1190 non-null   int64
 11  target               1190 non-null   int64
dtypes: float64(1), int64(11)
memory usage: 111.7 KB

## Data Cleansing

In [ ]:
# Check Missing Values
df.isna().sum()

age                    0
sex                    0
chest pain type        0
resting bp s           0
cholesterol            0
fasting blood sugar    0
resting ecg            0
max heart rate         0
exercise angina        0
oldpeak                0
ST slope               0
target                 0
dtype: int64

In [9]:
# Check Outlier
for col in df.columns:
    q1 = df[col].quantile(0.25)
    q3 = df[col].quantile(0.75)
    iqr = q3-q1
    print(f"IQR for {col} = {iqr}")

    fence_high = q3 + 1.5*iqr
    fence_low = q1 - 1.5*iqr

    outliers = df[(df[col] > fence_high) | (df[col] < fence_low)]
    df = df[(df[col] >= fence_low) & (df[col] <= fence_high)]
    print(outliers.shape)

IQR for age = 13.0
(0, 12)
IQR for sex = 0.0
(281, 12)
IQR for chest pain type = 1.0
(52, 12)
IQR for resting bp s = 20.0
(21, 12)
IQR for cholesterol = 87.25
(158, 12)
IQR for fasting blood sugar = 0.0
(113, 12)
IQR for resting ecg = 2.0
(0, 12)
IQR for max heart rate = 38.0
(0, 12)
IQR for exercise angina = 1.0
(0, 12)
IQR for oldpeak = 1.8
(3, 12)
IQR for ST slope = 1.0
(0, 12)
IQR for target = 1.0
(0, 12)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 562 entries, 0 to 1189
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   age                  562 non-null    int64
 1   sex                  562 non-null    int64
 2   chest pain type      562 non-null    int64
 3   resting bp s         562 non-null    int64
 4   cholesterol          562 non-null    int64
 5   fasting blood sugar  562 non-null    int64
 6   resting ecg          562 non-null    int64
 7   max heart rate       562 non-null    int64
 8   exercise angina      562 non-null    int64
 9   oldpeak              562 non-null    float64
 10  ST slope             562 non-null    int64
 11  target               562 non-null    int64
dtypes: float64(1), int64(11)
memory usage: 57.1 KB

In [ ]:
# Check Duplicate
df.duplicated().sum() # Since we don't have much data, just leave it duplicated

141